.background{
    background-image: url(../img/backgrounds/imgBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  body{
    background-image: url(../img/backgrounds/imgBackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }