/* footer */
.footer-inicio{
    background: #cdb4db;
}

.box-footer{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh; 
}

.box-footer > div{
    text-align: center; 
}
/* footer */