/* nav */
/* hover de la listas del nav */
.hover:hover{
    background:#ffc8dd;
    transition: ease-in 0.3s;
    border-radius: 20px;
}
/* hover de la listas del nav */

.custom-navbar {
    background: #cdb4db;
    margin-top: 0;
  }
/* nav */