.container-pagos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para el cuadro de pago */
.box-pagos {
    background-color: #CDB4DB;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

/* Estilo para los campos de entrada */
.form-inputs {
    display: flex;
    flex-direction: column;
}

.form-inputs input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para el botón de pago */
.form-inputs button {
    background-color: #CDB4DB;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-inputs button:hover {
    background-color: white;
    color: black;
}

